.home-page {
	width: 100%;
	height: calc(100vh - 89px);
	padding: 32px;
	color: white;
	font-family: "Solid Mono";
	position: relative;
	display: flex;
}

#home-bg-img {
	width: 416px;
	height: auto;
	object-fit: contain;
	margin-right: -50px;
}

#home-nodes-img {
	width: fit-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: calc(100vw - 400px);
	rotate: -15deg;
	z-index: -1;
}

#home-txt-cont {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#home-text-container {
	width: 345px;
	display: flex;
	gap: 8px;
	flex-direction: column;
}

#home-text-container h1 {
	font-size: 36px;
}

#home-text-container p {
	padding-bottom: 4px;
	margin-right: 50px;
	border-bottom: 1px solid #fff;
}

#home-gph-cont {
	height: 100%;
	display: flex;
	justify-content: end;
	align-items: end;
	/* border: 1px solid white; */
}

#home-gph-img {
	width: 417px;
	height: 100%;
	object-fit: contain;
	max-width: 500px;
	max-height: 500px;
	margin-bottom: -60px;
}
